<!doctype html>
<html>
  <meta charset="utf-8">
  <script src="/javascripts/jquery-1.11.3.min.js">
</script>
  <script src="/javascripts/jquery.form.min.js">
</script>
  <script src="javascripts/angular.min.js">
</script>
  <script src="javascripts/angular-route.min.js">
</script>
  <script src="javascripts/latex_exporter.js">
</script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="javascripts/bootstrap.min.js"></script>
  <title>MEX RDF to Latex Converter</title>
  
  <body>
        
<div class="navbar navbar-fixed-top" role="navigation" style="margin-top:15px">
    <div class="container">
        <div class="navbar-header">
          
            <a href="http://mex.aksw.org/index.html" class="logo"><img src="http://aksw.org/extensions/site/sites//local/images/logo-aksw.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="http://mex.aksw.org/index.html" style="color:black">
                        MEX project webpage
                    </a>
                </li>
                <li>
                    <a href="http://aksw.org/About.html" style="color:black">
                         AKSW Group
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>




    <div class="wrapper" style="margin-top: 75px">
      <div ng-app="main" class="container">
        
        
        
        <div ng-controller="rootCtrl">
          <h1>MEX to LaTeX exporter</h1>
          <p>
            MEX is a vocabulary (schema) for describing and sharing metadata of machine learning experiments using Linked Data technologies. Here you can use this service to your convert MEX RDF file to LaTeX tables. For more information about MEX, please visit our <a href="http://mex.aksw.org/index.html">website</a>.
          </p>
          <h2 style="margin-top: 35px">Step 1. Choose your RDF MEX file.</h2>
          <p>Select your MEX file and click on "Convert"! A sample file can be found
            <a href="https://github.com/AKSW/mexproject/blob/master/latex_exporter/latex_exporter/ex.ttl">here</a>.</p>
          <div style="margin-top:20px">
            <form action="/" method="post" enctype="multipart/form-data" id="uploadForm">
              <input type="file" name="RDFFILE">
              <input type="submit" value="Convert!"> <span ng-show="thumbsUp" style="color: green; margin-left: 35px"><i class="glyphicon glyphicon-thumbs-up"></i> Great! Your file was successfully converted.</span><span ng-show="thumbsDown" style="color: red; margin-left: 35px"><i class="glyphicon glyphicon-thumbs-down"></i> Sorry, we could not parse your file. Are you sure it is a valid RDF file?</span>
            </form>
          </div>
          
          <h2 style="margin-top: 35px">Step 2. Choose the configuration.</h2>
          <p>Now, pick one configuration of your results.</p>
          <select ng-model="configuration" ng-options="k.label for k in response" ng-change="makeFirstLine(configuration)">
            <option value="">Configuration</option>
          </select>
          <h2 style="margin-top: 35px">Step 3. Assembly your table.</h2>
          <p>Choose here which executions and measures will be added to the LaTeX table.</p>
          <div style="clear: left; margin-top: 10px">
            <input type="button" ng-click="newLine();" value="Add Execution">
          <input type="button" ng-click="newColumn();" value="Add Measure">
          </div>
          <br />
          <div style="margin-left: 250px; margin-top: 10px">
            <div ng-repeat="i in columns" style="float: left; width: 150px; min-width: 150px">
              <select ng-model="measure" ng-options="m.prop for m in configuration.executions[0].measures" ng-change="updateTableColumns(i, measure)" style="float: left; width: 150px; min-width: 150px">
                <option value="">Measures</option>
              </select>
            </div>
          </div>
          <div ng-repeat="l in lines" style="clear: left;">
            <select ng-model="execution" ng-options="s.label for s in configuration.executions" ng-change="updateTableLines(l, execution)"
            style="float: left;  width: 250px;">
              <option value="">Execution</option>
            </select>
          </div>
          
          <div>
            <h2 style="margin-top: 35px">Step 4. Get your LaTeX code.</h2>
            <p>Copy and paste the following code to your LaTeX document.</p>
            <pre>{{latexTableView}}</pre>
          </div>
        </div>
        <div ng-view></div>
      </div>
    </div>
  </body>

</html>
<!-- extends layout block content p#title #{title} form#uploadForm(action="file", method="post", enctype="multipart/form-data")
input(type="file", name="RDFFile") input(type='submit',value='Convert!',data-transition='fade', data-theme='c') -->