extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="file", method="post", enctype="multipart/form-data")
    input(type="file", name="displayImage")
    input(type='submit',value='Submit',data-transition='fade', data-theme='c')
