doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/jquery.form.min.js')
  body
    block content
    script(src='/javascripts/latex_exporter.js')

